<div class="nav" id="navbar">
    <nav class="nav__container">
        <div>
            <a href="#" class="nav__link nav__logo">
                <i class='bx bxs-menu nav__icon'></i>
                <span class="nav__logo-name">Chinook</span>
            </a>

            <div class="nav__list">
                <div class="nav__items">

                    <a href="/" class="nav__link active">
                        <i class='bx bx-home nav__icon'></i>
                        <span class="nav__name">Home</span>
                    </a>

                    <div class="nav__dropdown">
                        <a href="#" class="nav__link">
                            <i class='bx bx-table nav__icon'></i>
                            <span class="nav__name">Tables</span>
                            <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                        </a>

                        <div class="nav__dropdown-collapse">
                            <div class="nav__dropdown-content">
                                <a href="album" class="nav__dropdown-item">Album</a>
                                <a href="artist" class="nav__dropdown-item">Artist</a>
                                <a href="customer" class="nav__dropdown-item">Customer</a>
                                <a href="employee" class="nav__dropdown-item">Employee</a>
                                <a href="genre" class="nav__dropdown-item">Genre</a>
                                <a href="invoice" class="nav__dropdown-item">Invoice</a>
                                <a href="invoiceline" class="nav__dropdown-item">InvoiceLine</a>
                                <a href="mediatype" class="nav__dropdown-item">MediaType</a>
                                <a href="playlist" class="nav__dropdown-item">Playlist</a>
                                <a href="track" class="nav__dropdown-item">Track</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <a href="#" class="nav__link nav__logout">
            <i class='bx bx-log-out nav__icon'></i>
            <span class="nav__name">Log Out</span>
        </a>
    </nav>
</div>

@code {

}

